img{
	width: 100%;
	padding: 0px;
}

body{
	margin: 0;
	background-color: black;
	font-family: helvetica, arial, sans-serif; color: whitesmoke;
	font-size: 20px;
	line-height: 30px;

}

h1, h2{
	font-family: 'Antonio', sans-serif;
	font-size: 50px;
}

header h1{
	color: #1b1b1b;
	opacity: 90%;
	font-style: italic;
	font-size: 100px;
}

main{
	max-width: 1500px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
	border: 0px black;
  	border-radius: 30px;
}

p.caption{
	color: #999999;
	font-size: 15px;
	font-style: italic;
	margin: 0;
	text-align: right;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
  background-color: #2d2c31;
  padding: 30px 30px;
  border: darkgray;
  border-radius: 5px;
}

.container-centre{
 
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
  background-color: #2d2c31;
  padding: 30px 30px;
  border: darkgray;
  border-radius: 5px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 10px;
}

.image {
  flex-basis: 200%;
}

.text {
  padding-left: 20px;
  width: 100%;
}

.header-container {
  position: relative;
  text-align: center;
  color: white;
}

.h1 {
  position: absolute;
  top: 75%;
  left: 22%;
  transform: translate(-50%, -50%);
}

.break-font {
	font-family: 'chathura', helvetica;
	font-size: 60px;
	font-style: italic;
	padding-top: 23px;
}

ul {
		list-style: none;
}

ul li:before {
		 content: "\00BB \0020";
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}